.news{
    border: 1px solid gray;
    width: 500px;
    margin-top: 10px;
    text-align: justify;
    margin-left: 5px;
}
h2{
    margin-top: 5px;
    padding: 0;
}
.bg-color{
    background-color: burlywood;
}
p.bg-color{
    margin-bottom: 0px;
    padding: 0;
}